# Ignore dependencies
node_modules/

# Next.js build output
.next/

# Output folders
out/
build/
dist/

# Coverage reports
coverage/

# Public/static assets
public/


.history
.notes