@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  @apply bg-default text-base-900 dark:text-base-100 overflow-x-hidden
}

input{
  @apply bg-default dark:text-white  rounded-md px-4 py-2 border border-base-500
}

@layer utilities{
  .border-style-expand{
    border-style: solid dashed solid;
  }
  .bg-default{
    @apply bg-base-100 dark:bg-base-800 transition-colors
  }
  .border-default{
    @apply border-base-300 dark:border-base-900  transition-colors
  }

.bg-dotted-glass::before {
  display: block;
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 1px;
  opacity: 0.2;
  @apply bg-gray-800 dark:bg-gray-200
}
.bg-dotted-glass {
  background-image: radial-gradient(transparent 1px, theme("colors.base.100") 1px );
  background-size: 4px 4px;
  backdrop-filter: blur(4px);
}
:is(.dark .bg-dotted-glass){
  background-image: radial-gradient(transparent 1px, theme("colors.base.800")  1px );
}


.bg-dotted {
  background-image: radial-gradient(theme("colors.base.400") 1px, transparent 0);
  background-size: 5vw 5vw;
  background-position: center;
  @apply transition-colors
}

:is(.dark .bg-dotted){
  background-image: radial-gradient(theme("colors.base.900")  1px, transparent 0);
}

@media (min-width: 768px){
  .bg-dotted {
    background-size: 2vw 2vw;
  }
}
@media (min-width: 1024px){
  .bg-dotted {
    background-size: 1vw 1vw;
  }
}
}